target/
.dockerignore will ignore the entire target directory, but allow the built jar to be copied into the image
!target/*.jar
.gradle/
.mvn/
.git
.gitignore
Dockerfile
docker-compose.yml
README-SETUP-FLOWABLE7.md
